
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 50px;
}


h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}


h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
}


.complain-section {
  max-width: 600px;
  margin: 0 auto 40px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 140px;
  font-weight: bold;
}

.form-group input[type="date"],
.form-group textarea {
  flex: 1;
  padding: 10px;
  background-color: #ded8d8;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}


textarea {
  height: 80px;
  resize: vertical;
}


.submit-btn {
  display: block;
  margin: 20px auto;
  padding: 12px 30px;
  background-color: #e74c3c;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #c0392b;
}
